<h3>Webkite Employee Directory</h3>
<div class="webkite-sort clearfix">
  <div class="label">Sort by:</div>
  <select class="webkite-sort">
    <option>{{#if (equals this.sort.currentSort "alphabetical")}}name{{else}}{{this.sort.currentSort}}{{/if}}</option>
    <option value="alphabetical" {{#if (equals sort.currentSort undefined)}}selected{{/if}}>name</option>
    <option value="Start Date">start date</option>
  </select>
</div>
{{>filters this.filters}}
{{paginator pagination 5}}
<ul start={{pagination.firstResult}}>
  {{#each items}}
    {{>resultItem this}}
  {{/each}}
</ul>
{{paginator pagination 5}}
