<h3>Webkite Employee Directory</h3>
<div class="webkite-sort clearfix">
  <div class="label">Sort by:</div>
  <select class="webkite-sort">
    <option value="{{#if this.sort.currentSort}}{{this.sort.currentSort}}:{{this.sort.currentDirection}}{{else}}alphabetical:asc{{/if}}">
    {{#if (equals this.sort.currentSort "alphabetical")}}
      name
    {{else}}
      {{#unless this.sort.currentSort}}name{{/unless}}
      {{this.sort.currentSort}}
    {{/if}}
    </option>
    <option value="alphabetical{{#unless this.sort.currentSort}}:desc{{/unless}}">name</option>
    <option value="Start Date">start date</option>
  </select>
</div>
{{>filters this.filters}}
{{paginator pagination 5}}
<ul start={{pagination.firstResult}}>
  {{#each items}}
    {{>resultItem this}}
  {{/each}}
</ul>
{{paginator pagination 5}}
